<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--For Clean URLs-->
    <rewrite>
      <rules>
        <rule name="RewriteRules" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
            <add input="{URL}" negate="true" pattern="\.axd$"/>
          </conditions>
          <action type="Rewrite" url="/views/index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
</configuration>
