<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Demo</title>

    <!--For Clean URLs-->
    <base href="/Views/" />

    <!--Jquery-->
    <script src="../Scripts/jquery-2.2.3.js"></script>

    <!--Angular Js-->
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/MyScript/app.js"></script>
    <script src="../Scripts/MyScript/routing.js"></script>

</head>
<body>

    <div id="main">
        <div ng-view></div>
    </div>

</body>
</html>
